{% extends 'blog_app/base_file.html' %}

{% block active_articles%}active{% endblock %}

{% block body %}
<div style="margin-top: 10px;">
    <form method="POST">
        {% csrf_token %}
        <div class="d-flex justify-content-evenly"
        style="margin: 5px; padding: 5px;
        border: 1px solid rgb(66, 151, 236);
        border-radius: 10px;
        font-family:'Times New Roman', Times, serif;">
        <select name="order_by" id="order_by" class="form-control"
        style="margin-right: 5px; width: 25vw;">
            <option disabled selected>Sort by</option>
            <option value="publish_date">Date Published</option>
            <option value="views">Most Viewed</option>
            <option value="comments" >Mose Comments</option>
            <option value="likes">Most Liked</option>
        </select>
        <select name="order" id="order" class="form-control"
        style="margin-right: 5px; width: 25vw;">
            <option disabled selected>Order</option>
            <option value="ascending">Ascending</option>
            <option value="descending">Descending</option>
        </select>
        <input list="authors_list" name="author"
        placeholder="Get specific author" class="form-control"
        style="margin-right: 5px; width: 25vw;">
        <datalist id="authors_list">
            {% for user in users %}
                <option>{{ user }}</option>
            {% endfor %}
        </datalist>
        <input type="hidden" value="{{ sort }}" name="sort">

        <input type="submit" class="btn btn-primary btn-sm" value="Sort" style="width: 20vw;">
    </div>
    </form>
</div>
    

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    {% if articles %}
    <div>
        <ul>
            {% for article in articles %}
                <li>
                    <div id="article" class="d-flex justify-content-start container-fluid">
                        <div class="text-div">
                            <h2>{{ article.title }}</h2>
                            <div class="body-div" style="height: 20vh; overflow: hidden;">
                                <p class="text-break">{{ article.body|safe|linebreaksbr }}...</p>
                            </div>
                            <a href="{% url 'blog_app:view_article' article.id %}">Read More</a>
                        </div>

                        {% if article.image %}
                        <div class="image-div" style="margin: 5px;">
                            <img src="{{ article.thumbnail.url }}" class="img-thumbnail">
                        </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div id="paginate" style="display: flex; justify-content: space-between;">
            {% if prev %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ prev }}" name="prev">
                <input type="hidden" value="{{ sort }}" name="sort">
                <input type="submit" class="btn btn-outline-primary btn-sm" value="prev">
            </form>
            {% endif %}
            {% if next %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ next }}" name="next">
                <input type="hidden" value="{{ sort }}" name="sort">
                <input type="submit" class="btn btn-outline-primary btn-sm" value="next">
            </form>
            {% endif %}
        </div>
    </div>
        
    {% endif %}
{% endblock %}
