{% extends 'blog_app/base_file.html' %}

{% load static %}

{% block link_css %}
{% endblock %}
{% block active_news%}active{% endblock %}

{% block body %}

    <div id="body-container">
        {% if news %}
            <ul>
                {% for i in news %}
                    <li>
                        <strong>
                            <a href="{{ i.link }}" target="_blank">{{ i.title }}</a>
                        </strong>
                        <p>{{ i.summary }}</p>
                    </li>
                {% endfor %}
            </ul>
            <div id="paginate" style="display: flex; justify-content: space-between;">
                {% if prev %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ prev }}" name="prev">
                    <input type="submit" class="btn btn-outline-primary btn-sm" value="prev">
                </form>
                {% endif %}
                {% if next %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ next }}" name="next">
                    <input type="submit" class="btn btn-outline-primary btn-sm" value="next">
                </form>
                {% endif %}
            </div>
            
        {% endif %}
    </div> 

{% endblock %}