{% extends 'blog_app/base_file.html' %}

{% block body %}

    {% if article %}

        <h2>{{ article.title }}</h2>
        <p>{{ article.body }}</p>
        <p>{{ article.likes.all|length }} Likes</p>
        {% for comment in article.comments.all %}
        <p>{{ comment.comment }}</p>
        <p>{{ comment.user.username }}</p>
        {% endfor %}
        {% if article.author == user %}
            <form method="post" action="{% url 'blog_app:drafts' %}">
                {% csrf_token %}
                <input type="hidden" name="edit" value="True">
                <input type="hidden" name="post" value="{{ article.id }}">
                <input type="submit" value="Edit Post">
            </form>
        {% endif %}

        {% if user.is_authenticated %}
            <form method="post" action="{% url 'blog_app:like' %}">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ user.id }}">
                <input type="hidden" name="article" value="{{ article.id }}">
                <input type="submit" value="Like Post">
            </form>
            <form method="post" action="{% url 'blog_app:comment' %}">
                {% csrf_token %}
                <textarea placeholder="Comment" name="comment" required></textarea>
                <input type="hidden" name="user" value="{{ user.id }}">
                <input type="hidden" name="article" value="{{ article.id }}">
                <input type="submit" value="Send">
            </form>
        {% else %}
            <p><a>Log in</a> or <a>Sign up</a> to drop a comment</p>
        {% endif %}
    
    {% endif %}

{% endblock %}