<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
    <div>
        <p><em>Techies Corner</em></p>
        <a>News</a>
        <a>Articles</a>
        {% if user.is_authenticated %}

            <a>Create New Article</a>
            <a>View Drafts</a>
            <a>View Profile</a>
            <a>Log Out</a>
        {% else %}

            <a>Sign Up</a>
            <a>Log In</a>
        
        {% endif %}
            
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>