{% extends 'blog_app/base_file.html' %}

{% load static %}

{% block link_css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog_app/styles/signup.css' %}">
{% endblock %}

{% block body %}
<div id="container">
    <div id="signup">
        {% if success %}
        <p>{{ success }}</p>
        {% elif error  %}
        <p>{{ error }}</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
            </div>
            <input type="submit" class="btn btn-primary" value="Continue">
        </form>
    </div>
</div>
{% endblock %}