{% extends 'blog_app/base_file.html' %}

{% load static %}

{% block link_css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog_app/styles/posts.css' %}">
{% endblock %}

{% block active_article%}active{% endblock %}

{% block body %}

        <div id="container">
            <div class="d-flex justify-content-end">
                <button class="btn btn-success btn-cls" id="submitForm">Continue</button>
            </div>
            <div class="container draft-container">
                <form method="post" id="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if error %}
                    {{ error }}
                    {% endif %}
                    
                    <input name="title" type="text" required value="{{ title }}" placeholder="Title" class="form-control input-control">
                    <input type="file" name="image" accept="image/*" value="{{ image }}" class="form-control input-control">

                    <textarea name="body" value="{{ body }}" id="textarea"
                    class="editable medium-editor-textarea input-control body-control"
                    required cols="40" rows="10">{{ body }}</textarea>
                    
                    <input type="hidden" name="author" value="{{ user.id }}">
                </form>
            </div>
            
        </div>
    </div>
</div>

<script>
    document.getElementById('submitForm').addEventListener('click', function() {
        document.getElementById('post-form').submit();
    })
</script>

{% endblock %}