{% extends 'blog_app/base_file.html' %}

{% load static %}
{% block link_css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog_app/styles/signup.css' %}">
{% endblock %}

{% block active_signup%}active{% endblock %}

{% block body %}
<div id="body-container">
    {% if message %}
        <p><em>{{ message }}</em></p>
    {% endif %}

    <a href="{% url 'blog_app:login' %}">Skip</a>

    <div id="container">
        <div id="signup">
            <form method="POST" action="{% url 'blog_app:set_profile' user_id %}">
                {% csrf_token %}
    
                {% if error %}
                {{ error }}
                {% endif %}
    
                {{ profile_form.as_p }}
    
                <input type="submit" class="btn btn-primary" value="Save">
            </form>
        </div>
    </div>
</div> 

{% endblock %}