{% extends 'blog_app/base_file.html' %}

{% block body %}

    <div>
        <p>Sign Up To Get Started</p>
        {% if error %}
        {{ error }}
        {% endif %}
        <form method="POST" action="{% url 'blog_app:signup' %}">
            {% csrf_token %}

            <input type="text" name="first_name" placeholder="First Name" required>
            <input type="text" name="last_name" placeholder="Last Name" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <input type="submit" value="Continue">
        </form>
        <p>Already Have an Account</p>
        <a href="{% url 'blog_app:login' %}">Log In</a>
    </div>

{% endblock %}