#container {
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* #post-container {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    width: auto;
    background-color: #ffffff;
    border: 1px solid rgb(66, 151, 236);
    border-radius: 10px;
    box-shadow: 2px 5px 2px #ccc;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    height: auto;
} */